.home-page {

}
.index-container {
  display: flex;
  flex-direction: row;
  margin: 40px 12% 10px 12%;
}
.index-container button {
  margin: 0 5px 0 0;
}

.selected {
  color: white;
  background: #5c8ee6;
}
